html * {
    font-family: 'liberation_sans_webfont';
}

body{
  color: #222222;
  background-color: #ffffff;
}

.body-dark{
  color: #eeeeee;
  background-color: #121212;
}

.link {
    color:#222222;
}

.link-dark{
    color:#eeeeee !important;
}

.theme-switcher {
    display: inline-block;
    *display: inline;
    position:absolute;
    right: 10px;
    padding-top: 7px;
}

#btn-theme-switcher, .btn-theme-switcher-dark {
    width: 80px;
    height: 80px;
    border: none;
}

#btn-theme-switcher {
    background-color:#808080;
}

#btn-theme-switcher::before {
    font-family: fontAwesome;
    content: "\f186";
    font-size: 36pt;
}

.btn-theme-switcher-dark::before {
    font-family: fontAwesome;
    content: "\f185" !important;
    font-size: 36pt;
}

.post {
    margin-bottom: 20px;
    margin-left: 10px;
    height:100px;
    min-width:40px;
}

.post h2 a, .post h2 a:visited {
    color: #222222;
}

.post-dark h2 a, .post-dark h2 a:visited {
    color: #eeeeee !important;
}

/*Everything below shouldn't need to change with dark-theme*/
.page-header {
    margin-top: 0;
    padding: 5px 20px 20px 20px;
}

.page-header {
    background-color: #276F02;
}

.title {
    display: inline-block;
    *display: inline;
}

.title h1, .title h1 a, .title h1 a:visited, .title h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font_weight: bold;
    text-decoration: none;
}

.page-container {
  position: relative;
  min-height: 100%;
}

.content-container {
    padding-bottom: 2.5rem;
}

.date {
    color: #828282;
    margin-bottom:-15px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100&;
  height: 2.5rem;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  min-width: 100%;
  padding-left: 10px;
  padding-right: 20px;
}

.footer-item, .footer-item-dark {    
    font-size: 10pt;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.footer-item{
    color: #828282;
}

.footer-item-dark {
    color: #eeeeee;
}

.distribute {
    width: 100%;
    display: inline-block;
    *display: inline;
    font-size: 0;
    line-height: 0;
    bottom: 0;
}

@font-face {
    font-family: 'liberation_sans_webfont';
    src: 
        url(fonts/LiberationSans-Regular-webfont.ttf) format('truetype'),
        url(fonts/LiberationSans-Regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
         
@font-face {
    font-family: 'liberation_sans_webfont';
    src: 
        url(fonts/LiberationSans-Bold-webfont.ttf) format('truetype'),
        url(fonts/LiberationSans-Bold-webfont.woff) format('woff'),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sans_webfont';
    src: 
        url(fonts/LiberationSans-Italic-webfont.ttf) format('truetype'),
        url(fonts/LiberationSans-Italic-webfont.woff) format('woff'),
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'liberation_sans_webfont';
    src: 
        url(fonts/LiberationSans-BoldItalic-webfont.ttf) format('truetype'),
        url(fonts/LiberationSans-BoldItalic-webfont.woff) format('woff'),
    font-weight: bold;
    font-style: italic;
}